body {
    font-family: roboto, arial;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 350;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.content {
    flex: 1 1 auto;
    border: dashed 2px blue;
    padding: 100px 200px;
}

.content.one {
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.one-container {
    width: 450px;
}

.header, .content.one {
    background-color: #1F2937;
    color: #F9FAF8;
}

.footer {
    border: dashed 2px red;
    height: 30px;
}

.header, .footer {
    padding: 0px 200px;
}

#hero-main {
    font-size: 48px;
    font-weight: 1000;
}

#hero-sub {
    font-size: 18px;
    color: #E5E7EB;
}

.one button {
    background-color: #3882F6;
    width: 140px;
    height: 50px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
}

.one img {
    width: 820px;
    height: 400px;
}

.two .container {
    display: flex;
    gap: 120px;
}

.content.two{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.container div {
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
}

.content.three {
    padding: 100px 500px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quote {
    border: solid 2px blue;
    max-width: 800px;
    padding-right: 0px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

#author {
    font-size: 24px;
    font-weight: bold;
    padding-left: 400px;
}